/*--------------------------------------------------------------
# Logo Resize
--------------------------------------------------------------*/
.freya-logo img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
}

/*--------------------------------------------------------------
# Body background
--------------------------------------------------------------*/
.back {
    background-image: url(https://img.freepik.com/premium-vector/white-marble-texture-background-skin-tile-wallpaper_322958-900.jpg?w=1480);
    background-size: cover;
    background-repeat: no-repeat;
}
.back1 {
    background-image: url(https://img.freepik.com/premium-vector/white-marble-texture-background-skin-tile-wallpaper_322958-900.jpg?w=1480);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0px;
}

/*--------------------------------------------------------------
# product listing
--------------------------------------------------------------*/

.col-md-6.col-lg-12 img {
    width: 25%;
}

.col-md-6.col-lg-12.products img {
    width: 100%;
    height: 300px;
}

/*--------------------------------------------------------------
#  SEcond product listing 
--------------------------------------------------------------*/
/* .categories-hp-1.section-box {
    padding-bottom: 111px
}

.categories-hp-1 .categories-content .lighting {
    padding-top: 41px;
    margin-right: 10px
}

.categories-hp-1 .categories-content .furniture {
    margin: 0 5px
}

.categories-hp-1 .categories-content .decoration {
    padding-top: 41px;
    margin-left: 10px
}

.categories-hp-1 .categories-content .categories-detail {
    position: relative
}

.categories-hp-1 .categories-content .categories-detail .images {
    overflow: hidden
}

.categories-hp-1 .categories-content .categories-detail .images img {
    transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    -moz-transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    -webkit-transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    -o-transition: transform .6s cubic-bezier(.25, .46, .45, .94);
    -ms-transition: transform .6s cubic-bezier(.25, .46, .45, .94)
   }
   .categories-hp-1 .categories-content .categories-detail .images img{
    max-width: 100%;
   }

.categories-hp-1 .categories-content .categories-detail .product {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #fff
}

.categories-hp-1 .categories-content .categories-detail .product a {
    padding: 7.5px 20px
}

.categories-hp-1 .categories-content .categories-detail .product a:hover {
    color: #333
}

.categories-hp-1 .categories-content .categories-detail .product .name {
    font-size: 18px;
    font-weight: 500
}

.categories-hp-1 .categories-content .categories-detail .product .quantity {
    display: none;
    color: #666
}

.categories-hp-1 .categories-content .categories-detail .product:hover .line {
    display: none
}

.categories-hp-1 .categories-content .categories-detail .product:hover .quantity {
    display: inline-block
}

.categories-hp-1 .categories-content .categories-detail:hover .images img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1)
}

section.bg-white.text-center.back {
    padding-top: 0px !important;
}
 */

/*--------------------------------------------------------------
# marbles 
--------------------------------------------------------------*/
.col-lg-6.mb-4 img {
    height: 400px;
}

/*--------------------------------------------------------------
# marbles single page
--------------------------------------------------------------*/

.navbar-nav .nav-link {
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    border-color: transparent;
    margin-left: 1.5rem;
    transition: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link.active,
.border-red {
    border-bottom: 3px solid #b71c1c;
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #b71c1c;
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0;
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
    background-color: #b71c1c;
    color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px);
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod;
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff;
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff;
}

.bg-red {
    background-color: #bb3535;
    color: #fff;
}

@media (max-width: 767.5px) {
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important;
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center;
    }
}

/*--------------------------------------------------------------
# service section
--------------------------------------------------------------*/
/* 

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
  }
  
  .portfolio h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #111;
  }
  .card {
    width: 32%;
    overflow: hidden;
    position: relative;
    border-radius: 0% !important;
    margin: 5px;
  }
  .card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 50px;
    background: #00000081;
  }
  .card .image {
    z-index: 1;
    height: 100%;
  }
  .card img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.2);
  }
  
  .card:hover .content {
    bottom: 0px;
    color: #fff;
  }
  
  .card:hover .image img {
    transform: scale(1);
  }
  
  .card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  } */
/*   
  .card .content span:last-child {
    font-size: 14px;
    color: #18cfab;
    text-align: center;
    font-weight: 700;
  }
   */
/*   
  @media screen and (max-width: 768px) {
    .card {
    width: 50%;
    }
    .card .content {
      bottom: 0;
    }
    .col-lg-6.mb-4 img {
        height: 300px;
    }
    h1.fs-5.fs-sm-6.text-white.mb-3 {
        font-size: 50px !important;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
    width: 100%;
    }
  } */

/*--------------------------------------------------------------
# navbar dropdown icon
--------------------------------------------------------------*/

.dropdown .dropdown-indicator:after {
    right: -0.537rem !important;
}

/*--------------------------------------------------------------
# new products
--------------------------------------------------------------*/
.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
    padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}
@media screen and (min-width: 577px) {
    .cards-wrapper {
        display: flex;
    }
    .card {
        margin: 0 0.5em;
        width: calc(100% / 2);
    }
    .image-wrapper {
        height: 14vw;
        margin: 0 auto;
    }
   
}
@media screen and (max-width: 576px) {
    .card:not(:first-child) {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    h5.card-title {
        margin-top: 10px;
    }
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# contact form
--------------------------------------------------------------*/

.contact {
    padding-top: 0px !important;
}
section.back.contact {
    padding-bottom: 0px !important;
}

/*--------------------------------------------------------------
# client slider 
--------------------------------------------------------------*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
/*--------------------------------------------------------------
# FOOTER STYLES
--------------------------------------------------------------*/

.page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
}

.page-footer a {
    display: flex;
    margin-left: 4px;
}

/*--------------------------------------------------------------
# image gallery -projects
--------------------------------------------------------------*/

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-fluid .box .col {
    display: flex;
    flex-direction: column;
    width: 32.6%;
}

.container-fluid .box .col img {
    margin: 7px 0;
    border: 6.5px solid #fff;
    transition: 0.6s;
}

.container-fluid .box .col img:hover {
    opacity: 0.8;
    /* border-radius: 2rem; */
    transform: scale(1.03);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 50%;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 20px;
    /* border-radius: 50%; */
    padding: 3px 9px;
    color: #fff;
    cursor: pointer;
}

.full-img span:hover {
    background: #fff;
    color: #000;
}

.gallery {
    padding-top: 10px;
}
